body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D9D9D9;
}

a {
  color: #00B7FF;
}

.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #000 solid;
}

.header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header .menu ul li {
  margin: 10px;
  font-size: 17px;
}

.header .menu ul li a {
  color: #000;
  text-decoration: none;
}

.footer {
  border-top: solid 1px #000;
}

.wrapper{
  display: flex;
}

.imageWrapper {
  width: 50%;
}
.search {
  width: 50%;
  padding: 20px;
}

.search .search-form {
  margin: 20px;
}

.search .search-form .text-input {
  width: 300px;
  height: 50px;
}

.search .search-form .button {
  width: 100px;
  height: 50px;
}

.search .search-form .randomBtn {
  width: 200px;
  height: 50px;
}

.search-results ul {
  list-style: none;
}

.search-results li{
  margin: 10px 10px 10px 0;
  font-size: 20px;
}

.search-results li i{ 
  margin-right: 10px ;
  cursor: pointer;
}

.favorites {
  margin-top: 100px;
}