<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <%- include('./partials/image.ejs') %>
  <div class="error">
    <h1>404 Not Found</h1>
  </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>
