<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <%- include('./partials/image.ejs') %>
  <div class="favorites">
    <div class="search-results">
      <ul id="favorite-list">
        
      </ul>
    </div>
  </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>
